* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

body {
  height: 300vh;
  overflow-x: hidden;
  background-color: transparent;
  scroll-behavior: smooth;
  position: relative;
}

.refresh-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 55px;
  height: 55px;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.5s ease;
}
        
.refresh-icon:hover {
  opacity: 0.8;
}
        
.refresh-icon:active {
 transform: rotate(360deg);
}

#arterii-license {
    position: fixed; 
    bottom: 20px; 
    left: 20px; 
    color: white;
    text-align: left; 
    z-index: 10; 
    font-size: 13px;
    opacity: 1;
    animation: fadeIn 1s ease-out forwards;
    line-height: 1.9;
    -webkit-tap-highlight-color: transparent;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#watermark-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
  mix-blend-mode: multiply;
}

#watermark-container canvas {
  opacity: 0.7;
}

.fullscreen-btn {
    position: fixed;
    bottom: 80px;
    right: 20px;
    cursor: pointer;
    font-size: 14px;
    padding: 3px 8px;
    border: 1px solid white;
    border-radius: 0px;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
    z-index: 100;
    color: white;
    -webkit-tap-highlight-color: transparent;
    pointer-events: auto;
}
.fullscreen-btn:hover {
    background: transparent;
}
.telegram-btn {
    position: fixed;
    bottom: 120px;
    right: 20px;
    cursor: pointer;
    font-size: 14px;
    padding: 3px 8px;
    border: 1px solid white;
    border-radius: 0px;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white8'%3E%3Cpath d='M9.78 18.65l.28-4.23 7.68-6.92c.34-.31-.07-.46-.52-.19L7.74 13.3 3.64 12c-.88-.25-.89-.86.2-1.3l15.97-6.16c.73-.33 1.43.18 1.15 1.3l-2.72 12.81c-.19.91-.74 1.13-1.5.71L12.6 16.3l-1.99 1.93c-.23.23-.42.42-.83.42z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
    -webkit-tap-highlight-color: transparent;
    pointer-events: auto;
}
.telegram-btn:hover {
    background: transparent;
}
